@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url("./img/bg.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
}

.start-img {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
    object-fit: contain;
    background-size: cover;
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
}

.game-over-img, .you-lost-img {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
    object-fit: contain;
    background-size: cover;
    background-image: url("img/5_background/first_half_background.png");
    background-repeat: no-repeat;
}

.start-btn, .game-over-btn, .you-lost-btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(143, 75, 23);
    z-index: 3;
    width: 230px;
    height: 65px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 15px 5px rgba(62, 61, 61, 0.5);
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 43px;
    letter-spacing: 3px;
    color: rgb(247, 204, 166);
}

.game-over-btn, .you-lost-btn {
    top: 5px !important;
}

.start-btn:hover, .game-over-btn:hover, .you-lost-btn:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 60px;
    letter-spacing: 6px;
    color: #a0220a;
    text-shadow: 4px 4px 4px rgba(0,0,0, 0.5);
    margin: 25px 0 15px 0;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 480px;
    width: 720px;
}

canvas {
    background-color: black;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-img, .delete-img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.sound-img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15px;
    right: 60px;
    cursor: pointer;
}

.legend {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 80%;
}

p {
    font-size: 28px;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 15px;
    color: white;
}

.rotate-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.rotate-content {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 50px;
}

.mobile-gaming {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-gaming-btn {
    background: none;
    border: none;
}

.mobile-gaming-icons {
    cursor: pointer;
    padding: 0 5px;
}

.d-none {
    display: none;
}

@media only screen and (max-width: 720px) {
    .game-container {
        width: 100%;
        height: calc(100vw * (2 / 3));
    }

    .canvas {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-height: 480px) {
    .game-container {
        height: 100vh;
        width: calc(100vh * (3 / 2));
    }
}